<div class="container">
    <div class="sub-container">
        <h1 class="hone">T O D O</h1>
        <div class="todo-list">
            <div class="creation">
                <input type="text" value="Create a new task" class="creation-input"
                onfocus= "value=' '">
            </div>
            <div class="list">
                <ul>
                    <li *ngFor="let task of taskList" class="task">
                    <input type="checkbox" name="check" id="check"> {{task.taskName}}
                    <hr>
                    </li>
                </ul>
                <div class="footer">
                    <div class="itemsNumber">{{taskList.length}} items left</div>
                    <div class="filter">
                        <div class="all">All</div>
                        <div class="all">Active</div>
                        <div class="completed">Completed</div>
                    </div>
                    <div class="clear">Clear Completed</div>
                </div>
            </div>
           
        </div>
    </div>
</div>
